version: "3.9"

services:
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    networks:
      - backend

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"
    networks:
      - backend

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CREATE_TOPICS: "task-created:1:1"
    ports:
      - "9092:9092"
    networks:
      - backend
    restart: unless-stopped

  postgres-workers:
    image: postgres:15-alpine
    container_name: postgres-workers
    environment:
      POSTGRES_DB: WorkersServiceDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: "/var/lib/postgresql/data/postgres-workers-data"
    volumes:
      - postgres-workers-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d WorkersServiceDb"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s

  api-gateway:
    image: progress_hub_api_gateway:latest
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:5095
    depends_on:
      - workers-service
      - redis
      - kafka
    expose:
      - "5095"
    restart: unless-stopped
    deploy:
      replicas: 3
    networks:
      - backend

  workers-service:
    image: workers_service:latest
    depends_on:
      postgres-workers:
        condition: service_healthy
      kafka:
        condition: service_started
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://0.0.0.0:5208
      - KAFKA__BOOTSTRAPSERVERS=kafka:9092
    ports:
      - "5208:5208"
    restart: unless-stopped
    networks:
      - backend

  nginx:
    image: nginx:stable-alpine
    ports:
      - "5095:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - backend
    depends_on:
      - api-gateway
    restart: unless-stopped

networks:
  backend:
    driver: bridge

volumes:
  postgres-workers-data:
  redis-data:
